<div class="container">
  <h1 class="mt-3">Add Category</h1>

  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-2">
      <div class="mb-3">
        <label for="categoryName" class="form-label">Category Name</label>
        <input
          type="text"
          class="form-control"
          id="categoryName"
          name="categoryName"
          [(ngModel)]="model.name"
        />
      </div>
    </div>
    <div class="mt-2">
      <div class="mb-3">
        <label for="categoryUrlHandle" class="form-label">Category Url Handle</label>
        <input
          type="text"
          class="form-control"
          id="categoryUrlHandle"
          name="categoryUrlHandle"
          [(ngModel)]="model.urlHandle"
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
